*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(background.avif);
    background-attachment:fixed;
    background-size: cover;
    /* position:absolute; */
    /* background-size: 100% 100% ; */
    background-repeat: no-repeat;
    color: #1e0101;
    text-shadow: 5px 5px 5px rgb(170, 170, 170);
    padding: 7px;
    margin: 5px;
    
    font-family: 'PT Serif', serif;
   
}
.main{
    display: grid;
    grid-template-rows: 1.7fr 2.5fr 1fr;
    grid-template-columns:1fr 5fr;
    width: 96vw;
    height: 100vh;
    /* justify-items: start;
    align-items:start;  */
    /* margin: 5px; */
  
    
   
}

@media screen and (max-width: 650px) {
   .main{
   display: flex;
   flex-direction: column;
    
   }

   .box2{
    display: flex;

   }

   .box3{
    display: flex;
   }

   .box4{
    display: flex;
   }

   .box5{
    display: flex;
   }

   .project{
    display: flex;
    flex-direction: column;
   }

   #Git>a>#git{
    height: 10%;
    width: 10%;
  } 
  
  #Linkedin>a>#linkedin{
    height: 10%;
    width: 10%;
  }
  
  
  #Insta>a>#instagram{
    height: 20%;
    width: 20%;
  }
    
  }

 

.container{
    padding: 5px;
    margin: 5px;
    /* border: 1px solid black; */
    /* width: 50vw;
    height: vh; */
}

.box2{
    /* background-image: linear-gradient(rgb(209, 99, 99), rgb(112, 244, 202)); */
    
    
    text-align:right ;
    font-size:30px;
}

.box3{
    /* background-image: linear-gradient(rgb(0, 255, 85), rgb(120, 182, 224)); */
    grid-row-start: 2;
    grid-row-end: 3;
   
   
   
}
.box4{
    /* background-image: linear-gradient(rgb(215, 213, 241), rgb(246, 246, 60)); */
    
    justify-self: start;
    align-self: start;
    font-size:larger;
    ;
}
.box5{
    /* background-image: linear-gradient(rgb(176, 107, 107), rgb(86, 81, 145)); */
    grid-column-start: 1;
    grid-column-end: 3;
}
#profile{
    margin: 6px;
    box-shadow: -10px -10px 5px rgba(18, 16, 16, 0.332);
    width: 240px;
    height: 240px;
    border-radius: 48%;
    /* border: 2px solid #1e0101; */
    /* border-style: outset; */
    /* transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transition-delay: 1ms; */
    transform:
    perspective(800px)
    rotateY(20deg) scale(0.9)
    rotateX(10deg);
    filter: blur(0px);
    opacity: 0.92;
  transition: 0.8s ease all;

  
}

#profile:hover{
  box-shadow: 10px 10px 5px rgba(18, 16, 16, 0.332);
    /* height: 240px;
     width: 240px;  */
    /* border-style:inset; */
    border-radius: 20px;
    cursor: pointer;
    transform: perspective(800px)
    rotateY(-12deg)
    translateY(-50px)
    rotateX(10deg)
    scale(0.9);
  filter: blur(0);
  opacity: 1;

}
ul{
    margin-top: 30px;
    list-style: none;
}
li{
   margin: 5%;
   padding: 5%;
    /* border: 2px outset #1e0101;
    border-radius: 80%; */
    
}
#footer{
    align-self: start;
    justify-self: end;
    text-align: right;
    padding-bottom: 2.5%;
    margin-top: 2% ;
    font-size: large;
}
#Git{
    /* transition: all 2.5s ease-in-out; */
    border-radius: 20px;
    box-shadow: -10px -10px 5px rgba(18, 16, 16, 0.332);
    transform:
    perspective(800px)
    rotateY(25deg) scale(0.9)
    rotateX(10deg);
    filter: blur(1px);
    opacity: 0.6;
  transition: 0.6s ease all;
   
}
#Linkedin{
    /* transition: all 2.5s ease-in; */
    border-radius: 20px;
    box-shadow: -10px -10px 5px rgba(18, 16, 16, 0.332);
    transform:
    perspective(800px)
    rotateY(25deg) scale(0.9)
    rotateX(10deg);
    filter: blur(1px);
    opacity: 0.6;
  transition: 0.6s ease all;

}
#Insta{
    /* transition: all 2.5s ease-out; */
    border-radius: 20px;
    box-shadow: -10px -10px 5px rgba(18, 16, 16, 0.332);
    transform:
    perspective(800px)
    rotateY(25deg) scale(0.9)
    rotateX(10deg);
  filter: blur(1px);
  opacity: 0.6;
  transition: 0.6s ease all;
}
#Git:hover{
  box-shadow: 10px 10px 5px rgba(18, 16, 16, 0.332);
filter: invert(100%);
/* transform: rotate(360deg); */
/* transform: scale(1.22); */
transform: perspective(800px)
rotateY(-15deg)
translateY(-50px)
rotateX(10deg)
scale(1);
filter: blur(0);
opacity: 1;
}
#Linkedin:hover{
  box-shadow: 10px 10px 5px rgba(18, 16, 16, 0.332);
    filter: invert(100%);
    /* transform: rotate(360deg); */
    /* transform: translateX(80px); */
    transform: perspective(800px)
    rotateY(-15deg)
    translateY(-50px)
    rotateX(10deg)
    scale(1);
  filter: blur(0);
  opacity: 1;
    
}
#Insta:hover{
  box-shadow: 10px 10px 5px rgba(18, 16, 16, 0.332);
    filter: invert(100%);
    /* transform: rotate(360deg); */
    /* transform: skew(35deg); */
    transform: perspective(800px)
    rotateY(-15deg)
    translateY(-50px)
    rotateX(10deg)
    scale(1);
  filter: blur(0);
  opacity: 1;
}
.project{
  /* margin-top: 20px; */
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
}
.PTR{
  font-size: 1.7rem;
  margin: 15px;
  padding: 5px;
  border-radius: 10px;
  /* box-shadow: -10px -10px 5px rgba(18, 16, 16, 0.332); */
  text-align: center;
  /* transform:
  perspective(800px)
  rotateY(25deg) scale(1)
  rotateX(10deg);
filter: blur(0.8px);
opacity: 1;
transition: 0.5s ease all;*/

/* transform:
rotateX(51deg)
rotateZ(43deg);
transform-style: preserve-3d;
border-radius: 32px;
box-shadow:
1px 1px 0 1px #f9f9fb,
-1px 0 28px 0 rgba(34, 33, 81, 0.01),
28px 28px 28px 0 rgba(34, 33, 81, 0.25);
transition:
.4s ease-in-out transform,
.4s ease-in-out box-shadow; */

transform:
scale(1)
rotateY(360deg)
rotateX(20deg)
translateZ(1rem);
transform-origin: 50% 100%;
transform-style: preserve-3d;
box-shadow: 1rem 1rem 1.3rem rgba(18, 16, 16, 0.332);
transition: 1.5s ease transform;

} 

a{
  text-decoration: none;
  color: darkslategrey;
  text-shadow: 5px 5px 5px rgba(1, 61, 45, 0.566);
}
.PTR:hover{
  /* transform: perspective(800px)
    rotateY(-15deg)
    translateY(-50px)
    rotateX(10deg)
    scale(1.1);
  filter: blur(0);
  opacity: 1;
   */

  /* transform:
      translate3d(0px, -16px, 0px)
      rotateX(51deg)
      rotateZ(43deg);
    box-shadow:
      1px 1px 0 1px #f9f9fb,
      -1px 0 28px 0 rgba(34, 33, 81, 0.01),
      54px 54px 28px -10px rgba(34, 33, 81, 0.15); */
      cursor:pointer;
      transform: scale(1.1);
      box-shadow: -1rem -1rem 1.3rem rgba(18, 16, 16, 0.2);

}

 #Git>a>#git{
  height: 50%;
  width: 50%;
} 

#Linkedin>a>#linkedin{
  height: 50%;
  width: 50%;
}


#Insta>a>#instagram{
  height: 50%;
  width: 50%;
}